/* RESET CSS */

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

*, imputs, butotn {
     font-family: Arial, Helvetica, sans-serif;
}

html, body {
     height: 100%;
}

body {
     display: flex;
     flex-direction: column;
}

/* HEADER */

.menu {
     height: 48px;
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.menu__section {
     display: flex;
     align-items: center;
     margin-top: 12px;
}

.menu__section.left .menu__icon {
  padding: 12px 16px;
}

.menu__link {
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 600;
     color: #757575;
     padding: 12px 8px;
}

.menu__link.active {
     color: #4285f4;
     border-bottom:  2px solid #4285f4;
}

.menu__link:not(.active) {
     margin-bottom: 2px;
}

.menu__section.right {
     margin-right: 20px;
}

.menu__section.right .menu__icon {
     padding: 12px 12px;
}

.menu__rightLink {
     font-size: 13px;
     color: #3a3a3a;
     padding: 4px 8px;
     visibility: hidden;
}

.menu__avatar {
     padding: 4px;
     width: 40px;
     height: 40px;
}

/* CONTENT */

.content {
     display: flex;
     flex: 1;
     width: 100%;
     margin: 0 auto;
     flex-direction: column;
     padding: 65px 8px 0;
     align-items: center;
}

.content__logo {
     width: 50%;
     max-width: 300px;
     margin: 0 auto;
}

.content__search {
     margin-top: 48px;
     height: 45px;
     width: 100%;
     max-width: 600px;
     padding: 7px 10px 6px 20px; /* SENTIDO HORARIO, CIMA. DIREITA, BAIXO, ESQUERDA  */
     font-size: 18px;
     color: #252525;
     background: transparent;
     border-radius: 25px;
     border: 1px solid #c9c9c9;
     box-shadow: 0 1px 1px rgba(0,0,0,0.1); 
     outline: 0;
}

.content__offer {
     margin-top: -30px;
     font-size: 13px;
     padding: 6px 12px;
}

.content__offer a {
     text-decoration: none;
     color: #4285f4;
}

.content__buttons {
     margin-top: 18px;
     visibility: hidden;
}

.content__buttons .content__input {
     font-size: 14px;
     color: #494a4d;;
     background: #f8f9fa;
     /* border: 1px solid #dadce0; */
     border: 0;
     padding: 10px 18px;
     border-radius: 5px;
     /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
}

/* FOOTER */

.footer{
     margin-top: 24px;
     display: flex;
     flex-direction: column;
     background: #f2f2f2;
     text-align: center;
     color: #757575;
}

/* .footer__section:not(:first-child){ */
.footer__section{
     border-top: 1px solid #d4d4d4;
}

.footer__location {
     font-size: 16px;
     padding: 9px 22px;
     border-top: 1px solid #d4d4d4;
}

.footer__links {
     font-size: 14px;
     padding: 9px 22px;
     align-items: center;
}

.footer__links a {
     padding: 5px;
}

/* RESPOSIVIDADE */

@media (min-width: 750px) {
     .footer__section{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
     }

     .footer__links.left {
          text-align: left;
     }

     .footer__links.right {
          text-align: right;
     }

     .menu__section.left {
          visibility: hidden;
     }

     .menu__rightLink {
          visibility: visible;
     }

     .menu__section.right {
          margin-right: 20px;
     }

     .content__buttons {
          visibility: visible;
     }

     .content__offer {
          margin-top: 25px;
     }
}